<!-- footr -->
<div id="footr">
    <ul class="footerlinks">
        <li><a href="#">О проекте</a></li>
        <li><a href="#">Карта сайта</a></li>
        <li><a href="#">Рассылка</a></li>
    </ul>
    <ul class="footerlinks">
        <li><a href="#">Сегодня на сайте</a></li>
        <li><a href="#">Сделать стартовой</a></li>
        <li>Редакция: <a href="#">info@polit-nn.ru</a></li>
    </ul>

    <p>При любом использовании материалов веб-сайта ссылка на Полит-НН.ру обязательна. Все права защищены и охраняются законом. <br>
    &copy; Полит-НН.ру, {% now "Y" %}г. </p>

</div>
<!-- /footr -->
