<div id="navbar">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{% url 'news:index' %}">Новости</a>
            </li>
            {% for s in sections %}
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{% url 'articles:latest' s.slug %}">{{ s.title }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>
</div>
