<div id="navbar">
    <div class="pure-menu pure-menu-horizontal">

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a class="pure-menu-link" href="/?pt=news">Новости</a> </li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/?pt=analytics">Аналитика</a> </li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/?pt=comments">Комментарии</a> </li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/?pt=interview">Интервью</a> </li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/?pt=trend">Тенденции</a> </li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/?pt=docs">Документы</a> </li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/?pt=discussion">Дискуссия</a> </li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/?pt=politfiction">Лукоморье</a> </li>
        </ul>
    </div>
</div>
