<div class="pad1">
    <h2>Контекст</h2>

    {% for slug, curr_section in right_column_data.items %}
        <h3 class="section_title"> <a href="{% url 'articles:latest' slug %}">
            {{ curr_section.section.title }}</a>
        </h3>

        {% for article in curr_section.articles %}
            <div class="mainpage_article">
                <h4><a href="{% url 'articles:detail' article.id %}">
                    {{ article.title }}</a></h4>
                <p>{{ article.intro }}</p>
            </div>
        {% endfor %}

    {% endfor %}

</div>
