{% extends "__layout_3_columns.html" %}

{% block left_column %}
        <div class="pad1">
            <h2>Главное</h2>

                <h3 class="section_title">
                    <a href="{% url 'articles:latest' 'interview' %}">
                        {{ left_column_data.interview.section.title }}</a>
                </h3>
                {% for article in left_column_data.interview.articles %}
                <div class="mainpage_interview">
                    <h4><a href="{% url 'articles:detail' article.id %}">
                        {{ article.title }}</a></h4>
                    <p>{{ article.intro }}</p>
                </div>
                {% endfor %}

                <h3 class="section_title">
                    <a href="{% url 'articles:latest' 'comments' %}">
                        {{ left_column_data.comments.section.title }}</a>
                </h3>
                {% for article in left_column_data.comments.articles %}
                <div class="mainpage_comment">
                    <img src="//placehold.it/52?txtsize=63&text=☺">
                    {{ article.author }}
                    <h4><a href="{% url 'articles:detail' article.id %}">
                        {{ article.title }}</a></h4>
                    <p>{{ article.intro }}</p>
                </div>
                {% endfor %}


        </div>
{% endblock %}

{% block content %}
        <div class="pad1">
            <h2>События</h2>
            {% for ni in news %}
            <h4>
                <span class="newstime">{{ ni.pub_date|date:"G:i" }}</span>
                <a href="{% url 'news:detail' ni.id %}">{{ ni.title }}</a>
            </h4>
            {% endfor %}
        </div>
{% endblock %}
